# PHP and frontend-related cache and directories
.phpintel
.sass-cache
.scss-cache
scss/.sass-cache/
bower_components
.bower-cache
.bower-registry
.bower-tmp

# IDE and editor files
.idea/
nbproject
nbproject/private/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
.nb-gradle/
*.sublime-project
*.sublime-workspace
Thumbs.db
*.log

# Node.js and npm files
npm-debug.log
node_modules

# General OS-specific files
.DS_Store
**/.DS_Store
Thumbs.db

# Project-specific files
*.map
.greyhr
sftp-config.json
_book
